@charset "utf-8";
/* CSS Document */
body{
	    background: #1e1e1e;
}
.titlu{
	color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    color: grey;
    padding: 8px 16px;
    text-decoration: none;
	text-align: center;
}

li a:hover {
    background-color: #555;
    color: white;
}